{% extends "base.html.j2" %}
{% block title %} integrations - {{ current_user.email }} {% endblock %}

{% block content %}

<h1> integrations </h1>

<div> Your secret key - {{ current_user.secret_key }}</div>
<div> Toggl token - {{ current_user.toggl_token }}</div>

<div>
	Tokens
	{% for token in current_user.tokens %}
		<li>{{ token.service.name }} - {{ token.value }}</li>
	{% endfor %}
</div>

{% endblock %}

