[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pathlib = "*"
ffmpeg-python = "*"
gunicorn = "*"
requests = "*"
bs4 = "*"
python-dotenv = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
pymysql = "*"
flask-migrate = "*"
flask-classful = "*"
flask-security-too = "*"
bcrypt = "*"
jsonpickle = "*"

[requires]
python_version = "3.9"
