{% extends "base.html.j2" %}
{% block title %} tato stránka neexistuje {% endblock %}

{% block content %}
    
<h1> tato stránka neexistuje.</h1>
jste si jistí, že jste chtěli být tady? pokud ano, <a href="/feedback">napište mi</a> a já to zkusím rychle opravit.
<p> zatím se můžete vrátit na <a href="/">hlavní stránku</a></p>

{% endblock %}

