{% extends "base.html.j2" %}
{% block title %} něco se nepovedlo {% endblock %}

{% block content %}

<h1> něco se nepovedlo. </h1>
<a href="/feedback"> napište mi </a> a já to zkusím rychle opravit.
<p> zatím se můžete vrátit na <a href="/"> hlavní stránku </a></p>

{% endblock %}

