{% extends "base.html.j2" %}
{% block title %}Improve your life{% endblock %}
{% block script %}{% endblock %}

{% block content %}
    <div class="container text-center" style="margin-top: 23%">
    	<h5>Today you can:</h5>
    	<h1>{{ today_task }}</h1>
    </div>
{% endblock %}

