{% extends "base.html.j2" %}
{% block title %} jan peterka {% endblock %}
{% block script %}{% endblock %}

{% block content %}
	{% include('navbar.html.j2') %}
    <div class="container"></div>
{% endblock %}

