{% extends "base.html.j2" %}
{% block title %} portfolio {% endblock %}

{% block content %}

<div class="mt-5">
    <div style="text-align: center;">    
        <span style="font-weight: bold;"> dělám věci </span> <br>
        <span > někdy </span> <br>
        <em> když se mi chce </em> <br>
        <br>
    </div>

    <div class="mt-3" style="text-align: left;">    
        <span> udělal jsem třeba </span><br>
        
        <br>
        
        <span>
            <a href="https://ketokalkulacka.cz" style="color: grey;">
                <strong> ketokalkulačku </strong> 
            </a>
        </span><br>
        <span class="font-italic">
            která pomáhá lidem se speciální dietou
        </span><br>
    
        <br>

        <span>
            <a href="https://skautskakucharka.cz" style="color: grey;">
                <strong> skautskou kuchařku </strong> 
            </a>
        </span><br>
        <span class="font-italic">
            která usnadňuje vytváření a správu jídelníčků a nákupů
        </span><br>
        <span class="font-italic">
            zejména na velkých akcích jako jsou kurzy a tábory
        </span><br>

        <br>

        <span> a pár hovadinek </span><br>

        <br>
        
        <span>
            <a href="{{url_for('main.better')}}" style="color: grey;">
                <strong> náhodná věc, kterou si můžu zlepšit den </strong> 
            </a>
        </span><br>

    </div>

    <div class="mt-4" style="text-align: right;">    
        <span> baví mě hrát na kytaru </span><br>
        
        <br>
        
        <span>
            proto tu mám 
            <a href="{{ url_for('main.show_songbooks') }}" style="color: grey;">
                <strong> zpěvníky </strong> 
            </a>
        </span><br>
    
        <br>
    </div>

{% endblock %}

