.navbar {
	margin-bottom: 20px;
}

video {
	width: 100%;
}

video::-webkit-media-controls {
  display:none !important;
}

.container {
	position: relative;
}

.menu {
    position: absolute;
    height: 100%;
    top: 0;
    left: 1em;
    /*padding-top: 20%;*/
    margin-top: 40%;
    width: 98%;
    /*padding: 0;*/
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.options_label h3 {
	font-size: 5em;
	font-weight: bold;
}

.menu, .menu a {
    color: #fff;
}
.menu a:hover {
    cursor: pointer;
}
.menu ul li {
    list-style-type: none;
    font-size: 3em;
}
@media only screen and (min-width: 768px) {
    .menu ul li {
        display: inline-block;
        margin-right: 30px;
    }
}

.hidden {
	display: none;
}

.blurred { 
    filter: blur(10px); 
    transition: 0.5s filter linear;
	-webkit-transition: 0.5s -webkit-filter linear;
	-moz-transition: 0.5s -moz-filter linear;
	-ms-transition: 0.5s -ms-filter linear;
	-o-transition: 0.5s -o-filter linear;
} 

.unblurred {
	filter: blur(0px); 
	transition: 0.2s filter linear;
	-webkit-transition: 0.2s -webkit-filter linear;
	-moz-transition: 0.2s -moz-filter linear;
	-ms-transition: 0.2s -ms-filter linear;
	-o-transition: 0.2s -o-filter linear;
}