{% extends "base.html.j2" %}
{% block title %}Básně hor{% endblock %}

{% block links %}
	{{ super() }}
	<script src="https://api.mapy.cz/loader.js"></script>
	<script>Loader.load()</script>
{% endblock %}

{% block content %}
	{% include('navbar.html.j2') %}
	<div class="container">
		<div class="col">		
			Name: {{ poetry.name }}<br>
			Author: {{ poetry.created_by }}<br>
			X: {{ poetry.longitude }}<br>
			Y: {{ poetry.latitude }}
			<input type="hidden" id="name" value="{{ poetry.name }}">
			<input type="hidden" id="coords_x" value="{{ poetry.longitude }}">
			<input type="hidden" id="coords_y" value="{{ poetry.latitude }}">
		</div>
		<div class="col" data-controller="smaps">
			<div id="map" style="width: 30rem; height: 20rem; margin-top: 1.5rem;"></div>
		</div>
	</div>

	<script type="text/javascript">
      	/* Create map */
		var center = SMap.Coords.fromWGS84(14.41, 50.08);
		map = new SMap(JAK.gel("map"), center, 10);
		map.addDefaultLayer(SMap.DEF_BASE).enable();
		map.addDefaultControls();
		map.addControl(new SMap.Control.Sync()); /* Aby mapa reagovala na změnu velikosti průhledu */
		layer = add_marker_layer(map);

		var coords_x = $("#coords_x")[0].value
		var coords_y = $("#coords_y")[0].value
		var name = $("#name")[0].value

		var marker_coords = SMap.Coords.fromWGS84(coords_y, coords_x)

		var marker = add_marker(layer, marker_coords, name)

    function add_marker_layer(map){
		var layer = new SMap.Layer.Marker();
		map.addLayer(layer);
		layer.enable();
		return layer;
    }

    function add_marker(layer, coords, name){
      	var options = {};
		var marker = new SMap.Marker(coords, name, options);
		layer.addMarker(marker);
		return marker
    }
	</script>
{% endblock %}

