<script type="text/javascript">
    application.register("smaps", class extends Stimulus.Controller {
      static get targets() {
        return ["map"]
      }

      connect() {
      	/* Create map */
		var center = SMap.Coords.fromWGS84(14.41, 50.08);
		this.map = new SMap(JAK.gel("map"), center, 10);
		this.map.addDefaultLayer(SMap.DEF_BASE).enable();
		this.map.addDefaultControls();
		this._add_clickable(this.map);

		this.layer = this._add_marker_layer(this.map);
		
		this._add_marker(this.layer, center, "Started");
      }



    _add_clickable(map){
    	console.log(this)
      	// var m = new SMap(JAK.gel("map"), SMap.Coords.fromWGS84(14.400307, 50.071853));
		map.addControl(new SMap.Control.Sync()); /* Aby mapa reagovala na změnu velikosti průhledu */
		// map.addDefaultLayer(SMap.DEF_BASE).enable();
		var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
		map.addControl(mouse);
		map.getSignals().addListener(window, "map-click", this.click); /* Při signálu kliknutí volat tuto funkci */  
	}

	click(e, elm) { /* Došlo ke kliknutí, spočítáme kde */
     	console.log(this)
     	console.log(this.map)
	    var coords = SMap.Coords.fromEvent(e.data.event, this.map);
	    console.log("Kliknuto na " + coords.toWGS84(2).reverse().join(" "));
	    this._add_marker(this.layer, coords, "Klik")
	}

      _add_marker_layer(map){
		var layer = new SMap.Layer.Marker();
		map.addLayer(layer);
		layer.enable();
		return layer;
      }

      _add_marker(layer, coords, name){
      	var options = {};
		console.log(coords)
		console.log(name)
		console.log(layer)

		var marker = new SMap.Marker(coords, name, options);
		console.log(marker)
		layer.addMarker(marker);
      }

     })
</script>