<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- <meta name="description" content=""> -->
        <!-- <meta name="author" content=""> -->
        <link rel="icon" href="pics/icon.jpg">
        <title>Pexeso - Jan Peterka</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="pexeso.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="#">Pexeso</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="../index.html">Rozcestník</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Školní práce <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li><a href="pexeso.html">Pexeso</a></li> -->
                                <li><a href="hw_layout.html">Úkoly nové</a></li>
                                <li><a href="school.html">Školní práce</a></li>
                                <li><a href="hw.html">Úkoly staré</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Další projekty <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="../World/index.html">World [WIP]</a></li>
                                <li><a href="../CubeTower/game.html">Towers [WIP]</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    <section class="col-sm-8 col-xs-12" id="container"></section>
    <section class="col-sm-4 col-xs-12">
        <section class="col-sm-12 col-xs-6" id="scoreboard" class="label label-info">
            <strong><span id="diff_show"></span></strong>
            <br>
            <span id="moves_full"><span id="moves"></span> moves </span>
            <br>
            <span id="timer_full"><span id="timer"></span> seconds</span>
            <br>
            <span id="score_full"><span id="score"></span> points for you</span>
            <br>
            <span id="npc_score_full"><span id="npc_score"></span> points for npc</span>
            <!-- <br> -->
            <!-- <span id="logbook"></span> -->
        </section>
        <section class="col-sm-12 col-xs-5" id="settings">
            <label for="size">Select size:</label>
            <select id="size" class="form-control">
                <option selected="selected" value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
            </select>
            <label for="difficulty">Select difficulty:</label>
            <select id="difficulty" class="form-control">
                <option selected="selected" value=0>Singleplayer</option>
                <option value=1>Beginner</option>
                <option value=2>Easy</option>
                <option value=3>Advanced</option>
                <!-- <option value=4>Expert</option> -->
                <!-- <option value=3>Advanced</option> -->
            </select>
            <button class="btn btn-primary" id="newgame" onclick="restart()">New Game</button>
        </section>
    <section class="col-xs-1"></section>
</section>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script type="text/javascript" src="pexeso.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>