

{% extends "base.tpl" %}
{% block title %}
    Movie
{% endblock %}

{% block links %}
	{{ super() }}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/movie.css') }}">
{% endblock %}

{% block style %}  
	{{ super() }}
{% endblock %}

{% block script %}
	{{ super() }}
    <script src="{{ url_for('static', filename='js/movie.js') }}"></script>
{% endblock %}

{% block content %}
    {% include('navbar.html.j2') %}
    <div id="container" class="container">
		<div id="video" class="video">
	        <video id="videoPlayer">
	            <source id="videoSource" src="{{ url_for('static', filename='videos/1.webm') }}" type="video/webm">
	        </video>
		</div>
	    <div id="menu" class="menu">
            <div id="optionsLabel" class="options_label">
            </div>

            <div id="options" class="options">
                <ul id=optionList></ul>
            </div>
		</div>
    </div>

{% endblock %}

