{% extends "base.tpl" %}
{% block title %}Jan Peterka{% endblock %}
{% block script %}
<script type="text/javascript">
    function fullscreen(element) {
        // console.log("full")
        // console.log(element)
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.webkitRequestFullscreen) {
            element.webkitRequestFullscreen();
        } else if (element.msRequestFullscreen) {
            element.msRequestFullscreen();
        }
    }

</script>
{% endblock %}

{% block content %}
    <div class="container">
    	<div>
    		<h1>1.B</h1>

    		<div>
    			<h2 class="m-top-1r">Ovoce a zelenina</h2>
    			<h3>Ondřej Kolár, Teodor Chvalina</h3>
    			<div class="row">
	    			<video id="ovozel1" controls class="w-70" onclick=fullscreen(this);>
                        <source src="{{ url_for('static', filename='videos/student_projects/1B/ovozel1.mp4') }}" />
                    </video>
	    			<video id="ovozel2" controls class="w-70"
	    				   src="{{ url_for('static', filename='videos/student_projects/1B/ovozel2.mp4') }}">Video 2</video>
    			</div>
    		</div>
    		<div>
    			<h2 class="m-top-1r">AI - Umělá inteligence</h2>
    			<h3>Matěj Červenka, Barbora Jeřábková, Luděk Dub</h3>
    			<iframe class="w-70 h-30r" src="https://www.youtube.com/embed/cLxKam4ASrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    		</div>
    		<div>
    			<h2 class="m-top-1r">Výroba oblečení</h2>
    			<h3>Angelika Dominiková, Rozárie Borecká, Lea Bořutová</h3>
    			<video id="obleceni" controls class="w-70"
    				   src="{{ url_for('static', filename='videos/student_projects/1B/obleceni.mov') }}">Video</video>
    		</div>
    	</div>

    	<div>
    		<h1>R4.A</h1>
    		<div>
    			<h2 class="m-top-1r">GMO</h2>
    			<h3>Anežka Humejová, Darja Koževiková, Petra Jandová</h3>
    			<video id="gmo" controls class="w-70"
    				   src="{{ url_for('static', filename='videos/student_projects/R4A/gmo.mp4') }}">Video</video>
    		</div>
    		<div>
    			<h2 class="m-top-1r">Třídění odpadu</h2>
    			<h3>Petr Pícka, Štěpán Fedorek, Adam Rek</h3>
    			<video id="odpad" controls class="w-70"
    				   src="{{ url_for('static', filename='videos/student_projects/R4A/odpad.mp4') }}">Video</video>
    		</div>
    	</div>

    	<div>
    		<h1>1.C</h1>
    	</div>
    </div>
{% endblock %}